<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button color="medium" class="medidas yplus xplus" slot="fixed"> </ion-button>
  <ion-button color="medium" class="medidas yplus xfirst" slot="fixed"> </ion-button>
  <ion-button color="medium" class="medidas yplus xsecond" slot="fixed"> </ion-button>
  <ion-button color="medium" class="medidas yplus xless" slot="fixed"> </ion-button>

  <ion-button color="medium" class="medidas yfirst xplus" slot="fixed"> </ion-button>
  <ion-button color="medium" class="medidas yfirst xfirst" slot="fixed"> </ion-button>
  <ion-button color="medium" class="medidas yfirst xsecond" slot="fixed"> </ion-button>
  <ion-button color="medium" class="medidas yfirst xless" slot="fixed"> </ion-button>

  <ion-button color="medium" class="medidas ysecond xplus" slot="fixed"> </ion-button>
  <ion-button color="medium" class="medidas ysecond xfirst" slot="fixed"> </ion-button>
  <ion-button color="medium" class="medidas ysecond xsecond" slot="fixed"> </ion-button>
  <ion-button color="medium" class="medidas ysecond xless" slot="fixed"> </ion-button>

  <ion-button color="medium" class="medidas yless xplus" slot="fixed"> </ion-button>
  <ion-button color="medium" class="medidas yless xfirst" slot="fixed"> </ion-button>
  <ion-button color="medium" class="medidas yless xsecond" slot="fixed"> </ion-button>
  <ion-button color="medium" class="medidas yless xless" slot="fixed"> </ion-button>

  <ion-button color="danger" class="buttony xplus" slot="fixed">  Record  </ion-button>
  <ion-button color="dark" class="buttony buttonx" slot="fixed">  Sync  </ion-button>
  <ion-button color="success" class="buttony xless" slot="fixed">  Play  </ion-button>


</ion-content>
