<ion-content [fullscreen]="true">
  <ion-button color="dark" class="stopc" slot="fixed">Stop</ion-button>
  <ion-button color="success" class="playc" slot="fixed">Play</ion-button>
  <ion-button color="danger" class="recordc" slot="fixed">Record</ion-button>

  <ion-button color="medium" class="redondo ff" slot="fixed">

    <ion-icon slot="start" name="play-back-outline"></ion-icon>
Rewind
    </ion-button>


    <ion-button color="medium" class="redondo rw" slot="fixed">

      <ion-icon slot="end" name="play-forward-outline"></ion-icon>
  Rewind
      </ion-button>
      
</ion-content>
